name: Render Video
on: 
  workflow_dispatch: # Manual button ke liye

jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Render Remotion Video
        # Aapki command yahan add kar di hai
        run: npx remotion render src/index.ts HelloWorld out.mp4 --codec=h264 --fps=60

      - name: Save Video Artifact
        uses: actions/upload-artifact@v4
        with:
          name: final-video
          path: out.mp4
          retention-days: 5
