name: Render Video
on: 
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  render:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./template-helloworld-main
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install Dependencies
        run: npm install

      - name: Render Video
        run: npx remotion render src/index.ts HelloWorld out.mp4 --codec=h264 --fps=60

      - name: Save Video Artifact
        uses: actions/upload-artifact@v4
        with:
          name: final-video
          path: template-helloworld-main/out.mp4
